{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
.col-appart-modern {
    background: url('images/theme_urbanpoint_img1.jpg') center no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    display: flex;
    margin-top: 15px;
}
.btn-video {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70%;
    display: grid
}
.btn-video img {
    margin: auto;
    width: 150px;
    transition: all .4s
}
.btn-video img:hover {
    width: 190px;
    cursor: pointer;
    transition: all .4s
}
.text-modern-house {
    text-align: center;
    width: 100%
}
.text-modern-house h1 {
    color: white;
    margin-top: 18rem;
    font-family: 'ubuntu'
}
.text-modern-house p {
    color: white;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 17pt;
}
h1, h2, h3, h4 {
    font-family: 'ubuntu' !important
}
.col-contact {
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: 5rem
}
.inputwrapper {
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 8px;
}
.textareawrapper {
        border-radius: 10px 10px 0 0;
}
.btn-contact {
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: none;
    font-size: 12pt;
    color: #fff;
    font-family: 'ubuntu' !important;
    padding-top: 5%;
    padding-bottom: 10%;
    background: #f743569c;
}
.btn-contact:hover {
    background: #f74356;
    cursor: pointer;
    color: #fff
}
.list-items {
            display: flex
          }
.col-contact .list-items i {
font-size: 24px;
margin-right: 7px;
}

@media(max-width: 500px){
     .delimiter {
        background-size: 50%;
    }
        .child-paralax h1 {
        margin-top: 2ex !important;
    }
        .text-info-site {
        margin-left: 3%;
        margin-right: 3%;
    }
        .delimiter {
        background-size: 70%;
    }
    .full-paralax {
        height: 616px;
    }
    form[name=search] div:firt-of-type {
        width: 100% !important;
    }
    .title.is-1 {
            font-size: 2rem;
    }
    .title.is-2 {
        font-size: 33px;
    }
    .text-modern-house p {
        font-size: 12pt;
    }
}
.button.is-loading {
    background: #f74356;
}
.back-card1 {
    background-size: cover;
    height: 256px;
    border-radius: 20px 20px 15px 15px;
}
.back-card2 {
    background-size: contain;
    background-color: #fff0fc;
    height: 256px;
    border-radius: 20px 20px 15px 15px;
}
@keyframes zoom {
        from {
            background-size: 120%
        }
        to {
            background-size: 150%
        }
    }
    @keyframes zoom2 {
        from {
            background-size: 85%
        }
        to {
            background-size: 95%
        }
    }
    .back-card1:hover {
             animation-duration: 0.5s;
            animation-name: zoom;
            animation-fill-mode: forwards;
}
 .back-card2:hover {
             animation-duration: 0.3s;
            animation-name: zoom2;
            animation-fill-mode: forwards;
}
.child-content {
    color: gray
}
.imageplus {
    font-size: 12px;
    color: #fff;
    position: absolute;
    padding-top: 4px;
    right: 0;
    padding: 11px;
}
</style>
    <div class="full-paralax">
        <div class="child-paralax">
            <div>
                <h1 class="title is-3 has-text-white">  TROUVEZ VOTRE LOGEMENT </h1>
                <div class="delimiter"></div>
                 <p class="has-text-white text-info-site has-text-light">
                    Le premier site gratuit des annonces en immobilier au Gabon.
                    Pour toute Location Vente ou Achat Immobilier Au Gabon, c'est ici!
                 </p>
                 <br>
                 <form name="search" method="POST" action="">
                 <div class="columns" style="width: 70%;margin: auto">
                    
                        <div class="column is-3">
                            <div class="control" style="width: 100%">
                                <div class="select" style="width: 100%">
                                    <select name="type" style="width: 100%" required>
                                    <option value="vente">A vendre</option>
                                    <option value="location">A louer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="control" style="width: 100%">
                                <div class="select" style="width: 100%">
                                    <select name="category" style="width: 100%" required>
                                        <option value="Appartement">Appartement</option>
                                        <option value="Studio">Studio</option>
                                        <option value="Duplex">Duplex</option>
                                        <option value="Chambre">Chambre</option>
                                        <option value="Bureau">Bureau</option>
                                        <option value="Chambre américaine">Chambre américaine</option>
                                        <option value="Fond de commerce">Fond de commerce</option>
                                        <option value="Immeuble">Immeuble</option>
                                        <option value="Local commercial">Local commercial</option>
                                        <option value="Maison">Maison</option>
                                        <option value="Villa">Villa</option>
                                        <option value="Terrain">Terrain</option>
                                    </select>
                                </div>
                        </div>
                        </div>
                        <div class="column is-3">
                            <div class="control">
                                    <input class="input" name="key" type="text" placeholder="ville, quartier..." required>
                            </div>

                        </div>
                        <div class="column is-3">
                            <button type="submit" class="button is-primary is-hovered" style="width: 100%">Rechercher</button>
                        </div>
                 </div>
                 </form>
            </div>

        </div>

    </div>
    <div class="col-last-publish">
        <div>
            <h2 class="title is-2">Dernières publications</h2>
            <div class="delimiter"></div>
            <p class="text-delimiter">
                Kazimo est le N°1 de placement immobilier au Gabon. Vendez ou louer vos biens immobiliers, ou encore trouver le logement qui vous convient. Voici les publications des dernieres 24 heures
            </p>
        </div>
       <div class="columns col-list is-narrow-mobile"> 
        {% for house in houses %}
        
            <div class="column is-4">
                <a href="{{path('immo', {'title': house.slugs, 'id': house.id } )}}">
                    <div class="cards"  style="position: relative">
                                {% if house.photographies.count > 0 %}
                                    <i class="far fa-images imageplus"> + {{house.photographies.count}} </i>
                                {% endif %}
                        {# {% for image in house.photographies %}{% endfor %} #}
                        {% if house.image.name %}
                            <div class="back-card1" style="background-image: url({{ vich_uploader_asset(house, 'imageFile') }});background-position: center;background-repeat: no-repeat">

                            </div>
                        {% else %}
                            <div class="back-card2" style="background-image: url(images/home.png);background-position: center;background-repeat: no-repeat">
                            </div>
                        {% endif %}

                            
                        
                        
                        <div class="col-content">
                            <div class="child-content">
                                <span>{{house.category.label}}</span>
                                <span style="font-size: 13px;">{{house.createdAt|ago}}</span>
                            </div>

                            <div class="child-content">
                                <span>{{ house.ville }}</span>
                                <span style="font-size: 13px;">{{house.prix}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
       
        {% endfor %} 
        </div>
    </div>
    <div class="col-appart-modern">
            <div class="btn-video">
                <img src="images/theme_urbanpoint_img3.png">
            </div>
            <div class="text-modern-house">
                    <h1 class="title is-1"> Maison moderne </h1>
                    <p>
                        A la recherche d'une maison de luxe ? Vous trouverez un visuel vidéo
                        en visite guidé vers l'appartement de vos rêves. Visitez la gallerie immobilières des appartement premium.
                    </p>
            </div>
    </div>
    <div class="columns col-contact">
        <div class="column is-6">
            <h2 class="title is-2">Contactez-nous</h2>
            <p  style="text-align: justify">
               Envoyez-nous un mail si vous avez des questions specifiques. Voulez-vous mettre votre bien en premier plan sur le site ? Voulez-vous nous proposer des suggesions ? Nous vous répondons en moins de 24 heures.
            </p>
            <div class="columns" style="flex-wrap: wrap;margin-top: 2rem">
                <div class="column is-6 list-items">
                    <i class="fas fa-phone-volume"  aria-hidden="true"></i>
                    <span>+33 6 05 77 69 44</span>         
                </div>
                <div class="column is-6 list-items">
                    <i class="fa fa-envelope" aria-hidden="true" ></i>
                      <p>yahanthony8@gmail.com</p>
                </div>
                <div class="column is-6 list-items">
                     <i class="fas fa-map-marker"></i>
                    <span>2 Rue Galvany</span>
                </div>
                <div class="column is-6 list-items">
                    <i class="far fa-clock"></i>
                     <span>	{{ "now"|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "cccc d .MM. Y") }} </span>
                </div>
            </div>
        </div>
        <div class="column is-6" ng-controller="boxController">
            <div class="status" ng-show="succes"></div>
            {{form_start(contactForm, {attr: {'id': 'formBox'}})}}
           <div class="columns" style="flex-wrap: wrap">
                <div class="column is-6">
                    {{form_row(contactForm.Nom, {attr: {'placeholder': 'votre nom','ng-class': "[{'input is-danger': nomBox, 'input': 'true'}]" }})}}
                </div>
                <div class="column is-6">
                   {{form_row(contactForm.Prenom,  {attr: {'placeholder': 'votre prenom', 'ng-class': "[{'input is-danger': prenomBox, 'input': 'true'}]"}})}}
                </div>
                <div class="column is-6">
                    {{form_row(contactForm.Email,  {attr: {'placeholder': 'votre adresse mail', 'ng-class': "[{'input is-danger': mailBox, 'input': 'true'}]"}})}}
                </div>
                <div class="column is-6">
                 {{form_row(contactForm.Sujet,  {attr: {'placeholder': 'votre sujet', 'ng-class': "[{'input is-danger': sujetBox, 'input': 'true'}]"}})}}
                    
                </div>
           </div>
           <div class="columns" style="flex-wrap: wrap">
                <div class="column is-12">
                         {{form_row(contactForm.Message, {attr: {'ng-class': "[{'input is-danger': messageBox, 'input': 'true'}]"}})}}
                </div>
                <div class="column is-12">
                         <button type="submit" class="button btn-contact" ng-class="[{'is-loading': sending}]" > Envoyer le message </button>
                </div>
           </div>
            {{form_end(contactForm)}}
        </div>

    </div>
{% endblock %}
