
<div class="columns" style="margin-left: 11rem;margin-right: 11rem;flex-wrap: wrap;">
        <div class="column is-8">
            <div class="col-comment">
               <div class="thumb-avatar">

               </div>
                <div class="col-ex" style="display: grid">
                    <span>
                        <span style="float: left;font-size: 17px;font-weight: bold;color: #f74356"> 
                        {{commentaires.nom}} {{commentaires.prenom}} </span>
                        <span style="float: right;margin-right: 2rem">{{commentaires.createdAt|ago }}</span>
                    </span>
                    <div>
                        <h2 class="title is-5" style="margin-bottom: 0">{{commentaires.titre}}</h2>
                        <br>
                        <p> {{commentaires.textes}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>