{% extends 'base.html.twig' %}

{% block title %}immo{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
<style>
body {
    background:#f7f7f796
}
.h-spec {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d5dadd;
    position: relative;
}
    .h-spec:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 174px;
    height: 3px;
    background: #f74356
    }
    .col-list-spec .column {
        padding: 5px !important;
        white-space: nowrap !important;
    }
    .col-comment {
        background: #fff;
        height: auto;
        border-radius: 5px;
        padding: 13px;
        display: flex
    }
    .thumb-avatar {
        height: 60px;
        width: 70px;
        float: left;
        border-radius: 5px;
        background: url('https://lorempixel.com/640/480/?39446') center no-repeat;
        background-size: cover
    }
    .col-ex {
        width: 100%;
        margin-left: 7px;
    }
    .container {
        position: relative
    }
    .bloc-reservation {
        position: absolute;
        width: 25%;
        background: #fff;
        top: 10px;
        right: 0;
        left: 943px;
        border-radius: 8px 8px 0 0;
        padding-bottom: 35px;
    }
    .hd-price {
        background:#fff;
        text-align: center;
        border-radius: 8px 8px 0 0;
    }
    .hd-price>div:first-of-type {
    }
     .hd-price div {
        padding: 17px
    }
 
    .prices {
        font-family: 'Lato-Bold' !important;
         color: hsl(0, 0%, 100%) !important
    }
    sub {
        font-size: 16px !important;
         color: hsl(0, 0%, 100%) !important
    }
    .formulaire {
           padding-bottom: 25px;
    }
  
    .btn-reserve {
        padding: 15px;
        background: #f74356;
        border: navajowhite;
        color: #fff;
        font-size: 13pt;
    }
    .btn-reserve:hover { 
        background:#f74356;
        cursor: pointer
    }
    hr {
        background-color: #ccc !important;
        height: 1px !important;
    }
    .card {
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08) !important;
        -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08) !important;
        overflow: hidden ;
    }
    .title {
        font-family: ubuntu !important;
    }
    .annex {
            padding-bottom: 0;
            font-size: 13px;
    }
     .annex i {
            font-size: 14px !important;
    }
 .col-detail {
     line-height: 14px;
    margin-left: 6px;
    padding: 6px;
    font-size: 14px;
    display: flex
 }
 #reservation div {
     padding: 0
 }
.choco {
        width: 40%;display: flex
    }
 .choco p {
     margin-left: 5px;
     float: left;
 }
 .coco {
     display: flex;
     padding-top: 2rem;
 }
 @media(max-width:1190px) {
    .scale {
        margin-left: 5% !important;
        margin-right: 5% !important;
    } 
    .bloc-reservation {
        display: none
    }
    .coco {
        width: 80% !important;
    }
    .col-detail {
        display: grid
    }
    .pain {
        line-height: 14px;
        margin-top: 10px;
    }
    .choco {
            line-height: 11px;
            width: 100%
    }
}
.col-head-immo {
    height: 130px;
}
 @media(max-width:556px) {
    .title.is-1 {
            font-size: 40px;
    }
    .coco {
        display: grid
    }
    .col-head-immo {
        height: 169px;
    }
    .button.is-light {
        font-size: 12px
    }
    .coco div:nth-of-type(2) {
        padding-left: 1rem;
    }
 }
 @media(max-width: 375px) {
        .choco {
                width: 100%;
        }
        .col-head-immo {
        height: 199px;
    }
 }
.types {
        line-height: initial;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #aaaaaa73 !important;
}
.input, .textarea {
    box-shadow: none !important
}
.select select {
    font-size: 15px;
}

.plusopt {
    font-size: 14px;
    padding-left: 0;
    color: #f74356;
    line-height: unset
}
.plusopt span{
    font-size: 14px;
    padding-left: 0;
}
.checker .control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 6px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 15px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #f74356;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #f74356;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3.466rem;
    height: 3.466rem;
    margin-left: -17px;
    margin-top: -18px;
    background: #f74356;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
.viewmore {
    font-size: 13px;
    padding-left: 2px;
}
.control-checkbox font {
    font-size: 11px
}
.checker {
    display: none
}
</style>
    <div class="col-head-immo" style="background:url('{{app.request.getSchemeAndHttpHost()}}/images/duplex_house.jpg') center no-repeat;background-size: cover;">
        <div class="coco">
            <div style="width: 80%;padding-left: 1rem;">
                <h2 class="title has-text-white is-1">  {{ houses.title }} </h2>
            </div>
            <div style="width: 20%;margin-top: 17px;">
                <a class="button is-light viewgal">
                    <span class="icon">
                    <i class="fas fa-camera-retro" style="font-size: 18px;"></i>
                    </span>
                    <span>Voir la galerie d'image/{{houses.photographies.count}}</span>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="columns" style="flex-wrap: wrap;position: relative">
        <div class="column is-7 scale" style="margin-left: 11rem;">
                <div class="columns" style="flex-wrap: wrap;">
                <div class="column is-12 col-detail">
                        <div class="choco">
                            <i class="fas fa-calendar-day" style="color: #9E9E9E;    font-size: 14px;
    float: left;"></i> &nbsp <p>publié le {{houses.createdAt|date("d/m/Y", "Europe/Paris")}}, {{houses.createdAt|ago}}</p>
                        </div>
                      
                </div>
                <div class="column is-12" style="padding-top: 0">
                    {% if houses.image.name %}
                            
                                <div style="background:url('{{ vich_uploader_asset(houses, 'imageFile') }}') center no-repeat;background-size: cover;height: 400px;width: 93%">

                                </div>
                        {% else %}
                                    
                                        <div style="background: url('../images/home.png') center no-repeat;background-size: 37%;background-color: #69696961;height: 400px;width: 93%">

                                        
                                    </div>
                        {% endif %}
                        </div>
                   {% if houses.photographies.count >0 %}
                   <div class="column is-12">
                        <div id="lightgallery">
                            {% for photo in houses.photographies %}
                                <a href="{{app.request.getSchemeAndHttpHost()}}/images/appart/{{photo.image.name}}">
                                    <img id="gal" src="{{app.request.getSchemeAndHttpHost()}}/images/appart/{{photo.image.name}}" style="width:200px;height:120px"/>
                                </a>
                            {% endfor %}
                        </div>
                   </div>
                    {% endif %}
                    <div class="column is-12">
                        <h2 class="title" style="margin: 0">
                            {{houses.prix}}
                        </h2>
                        <p>{{houses.ville}}</p>
                        <span>{{houses.numero}}</span>
                    </div>
                </div>
              
            <p style="margin-right: 4rem;text-align: justify;">
                {{houses.commentaire}}
            </p>
        </div>
        <div class="column is-5">
          
        </div>
        {#  #}
            <div class="bloc-reservation">
            <div class="hd-price">
                <div>
                    <span class="title" style="color: #000;font-size: 25px;"> Recherche avancée  </span>
                </div>
            </div>
            {{form_start(form2, {attr: {'class': 'formulaire'}})}}
                <div class="columns reserve" style="padding: 3ex;padding-bottom: 0;flex-wrap: wrap">
                    <div class="column is-12">
                            {{ form_row(form2.Category) }}
                    </div>
                    <div class="column is-12" style="line-height: initial">
                        {{ form_row(form2.Types) }}
                    </div>
                    <div class="column is-12">
                        <label for="local"> Localisation </label>
                        <input id="local" class="input" type="texte" minLength="3" placeholder="Ville, quartier...">
                    </div>
                    <div  class="column is-12">
                        <div class="columns">
                                                <div class="column is-6">
                                                        <div class="field">
                                                            <div class="control has-icons-left">
                                                                <div class="select">
                                                                <select name="bednumber">
                                                                    <option selected>Chambres</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">plus</option>
                                                                </select>
                                                                </div>
                                                                <div class="icon is-small is-left">
                                                                <i class="fas fa-bed"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="column is-6">
                                                        <div class="field">
                                                            <div class="control has-icons-left">
                                                                <div class="select">
                                                                <select name="bathnumber">
                                                                    <option selected>Douches</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">plus</option>
                                                                </select>
                                                                </div>
                                                                <div class="icon is-small is-left">
                                                                <i class="fas fa-bath"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                
                                            </div>

                    </div>
                     <div class="column is-12">
                            <p>Combien de mettre carré ?</p>
                            <input id="m2-1"  type="range"  min="5" max="100" value="5">
                            <input id="m2-2"  type="range" min="100" max="100" value="100">
                    </div>
                    <div class="column is-12">
                            <p>Quel est votre budget ?</p>
                            <input id="jsrMin"  type="range"  min="50" max="100" value="50">
                            <input id="jsrMax"  type="range" min="100" max="100" value="100">
                    </div>
                    <div class="column is-12" ng-controller="boxController">
                        <span style="display: flex;cursor: pointer" ng-click="vueplus()">
                        <i class="plusopt"  ng-class="[{'fas fa-plus-circle': plus, 'fas fa-minus-circle': !plus}]">
                        </i>
                            <span class="viewmore"> Voir plus d'option </span></span>
                        <div class="checker" style="padding-top: 13px">
                            <div> <strong> specifications </strong> </div>
                            <br>
                            <label class="control control-checkbox">
                                <font> Air conditionné </font>
                                <input name="clime" value="air conditionne climatise" type="checkbox" checked/>
                                <div class="control_indicator"></div>
                            </label>
                            <label class="control control-checkbox">
                                <font> Parking </font>
                                <input value="parking" name="parking" type="checkbox"/>
                                <div class="control_indicator"></div>
                            </label>
                            <label class="control control-checkbox">
                                <font> Etages </font>
                                <input type="checkbox" name="etage" value="etages" checked/>
                                <div class="control_indicator"></div>
                            </label>
                             <label class="control control-checkbox">
                                <font> balcon </font>
                                <input type="checkbox" name="balcon" value="balcon" />
                                <div class="control_indicator"></div>
                            </label>
                             <label class="control control-checkbox">
                                <font> alarme </font>
                                <input type="checkbox" name="alarme" value="alarme"/>
                                <div class="control_indicator"></div>
                            </label>
                             <label class="control control-checkbox">
                                <font> garage </font>
                                <input type="checkbox" name="garage" value="garage"/>
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    {{form_end(form2)}}
                </div>
            {{form_end(form2)}}
            <div style="text-align: center">
                <input type="submit" class="btn-reserve" value="Rechercher">
            </div>
             
        </div>
        {#  #}
    </div>
    <div class="columns scale" style="flex-wrap: wrap;margin-left: 11rem;width: 100%">
        <div class="column is-7" style="">
            <div class="columns">
                <div class="column is-12">
                        <h2 class="title is-4 h-spec" style="width: 93%;">Specifications</h2>
                </div>
            </div>
            <div class="columns col-list-spec" style="flex-wrap: wrap;margin-left: -6px;">
                <div class="column is-4">
                    Année: <b> {{ houses.annee }} </b>
                </div>
                <div class="column is-4">
                    Espace: <b> {{ houses.surface }} </b>
                </div>
                 <div class="column is-4">
                    Salon: <b> {{ houses.salons }} </b>
                </div>

                <div class="column is-4">
                    Douches: <b> {{ houses.douches }} </b>
                </div>
                <div class="column is-4">
                    Chambre: <b> {{ houses.chambres }} </b>
                </div>
                 <div class="column is-4">
                    Balcons: <b> {{ houses.balcons }} </b>
                </div>

                <div class="column is-4">
                   Parking: <b> {{ houses.parking }} </b>
                </div>
                <div class="column is-4">
                    Etage: <b> {{ houses.etages }} </b>
                </div>
                 <div class="column is-4">
                    Cuisine: <b> {{ houses.salons }} </b>
                </div>

                <div class="column is-4">
                    Garage: <b> {{ houses.garage }} </b>
                </div>
                <div class="column is-4">
                    Piscine: <b> {{ houses.piscines }} </b>
                </div>
                 <div class="column is-4">
                    {# Assurance: <b> {{ houses.reqassurance }} </b> #}
                </div>
            </div>
        </div>
        <div class="column is-5">
           
        </div>
    </div>
    <div class="columns scale" style="margin-left: 11rem;width: 100%;margin-top: 1rem;flex-wrap: wrap">
        <div class="column is-7" >
             <div>
                <h2 class="title is-4 h-spec" style="width: 93%">Caractéristiques</h2>
            </div>
        </div>
        <div class="column is-5" >
            
        </div>
    </div>
    <div class="columns scale" style="margin-left: 11rem;margin-right: 11rem;flex-wrap: wrap;">
        <div class="column is-10">
            <div class="columns" style="flex-wrap: wrap">
                {% for spec in houses.caracteristiques %}
                    <div class="column is-4">
                        <i class="far fa-check-square" style="font-size: 18px;"></i><span> {{ spec }} </span>  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <section ng-controller="formController">
    <div class="columns scale" style="margin-left: 11rem;width: 100%;margin-top: 1rem;flex-wrap: wrap">
        {% if count > 0 %}
            <div class="column is-7" >
                <div>
                    <h2 class="title is-4 h-spec" style="width: 93%">Commentaires:{{count}}</h2>
                </div>
            </div>
        {% endif %}
        <div class="column is-5" >
            
        </div>
    </div>
            <section id="commentaires">
            {% for comment in houses.comments|reverse %}
                <div class="columns scale" style="margin-left: 11rem;margin-right: 11rem;flex-wrap: wrap;">
                    <div class="column is-8">
                        <div class="col-comment">
                        <div class="thumb-avatar">

                        </div>
                            <div class="col-ex" style="display: grid">
                                <span>
                                    <span style="float: left;font-size: 17px;font-weight: bold;color: #f74356"> 
                                    {{comment.nom}} {{comment.prenom}} </span>
                                    <span style="float: right;margin-right: 2rem;font-size: 12px;">{{comment.createdAt|ago }}</span>
                                </span>
                                <div>
                                    <h2 class="title is-5" style="margin-bottom: 0">{{comment.titre}}</h2>
                                    <br>
                                    <p> {{comment.textes}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </section>
     <div class="columns scale" style="margin-left: 11rem;width: 100%;margin-top: 1rem;flex-wrap: wrap">
        <div class="column is-7" >
             <div>
                <h2 class="title is-4 h-spec" style="width: 93%">Faire un commentaire</h2>
            </div>
        </div>
        <div class="column is-5" >
            
        </div>
        <div class="column is-6 alert" ng-show="alert">
                        <div class="notification is-danger">
                            <button class="delete"></button>
                            Remplissez les champs laissés en rouge / vide !
                        </div>
        </div>
    </div>
    
                
    <div class="columns scale" style="margin-left: 11rem;margin-right: 11rem;flex-wrap: wrap;">
     {{ form_errors(form) }}
         <div class="column is-8">
                {{form_start(form)}}
                    {{form_row(form.textes, {'attr': {'ng-class': "[{'input is-danger': message, 'input': 'true'}]"}}) }}
                    <div class="columns" style="flex-wrap: wrap">
                        <div class="column is-4 " style="position: relative">
                            {{form_row(form.nom, {'attr': {'ng-class': "[{'input is-danger': nom, 'input': 'true'}]"}} )}}
                        </div>
                         <div class="column is-4 ">
                             {{form_row(form.prenom, {'attr': {'ng-class': "[{'input is-danger': prenom, 'input': 'true'}]"}}) }}
                        </div>
                         <div class="column is-4 ">
                             {{form_row(form.email, {'attr': {'ng-class': "[{'input is-danger': email, 'input': 'true'}]"}})}}
                        </div>
                    
                        <div class="column is-12" style="">
                                {{form_row(form.titre, {'attr': {'ng-class': "[{'input is-danger': titre, 'input': 'true'}]"}} )}}
                        </div>
                        <div class="column is-12" style="margin-bottom: 1rem">
                            <button type="submit" class="button is-primary comment" value="Publier le message" titre="{{houses.slugs}}" id="{{houses.id}}" ng-class="[{'is-loading': send}]">Publier</button>
                        </div>
                    </div>
        {{form_end(form)}}
         </div>
    </div>
        
        <script>
            $(document).ready(function() {
                $('.picked').pickadate()
            })
        </script>
        {% if annexes %}
            <div class="columns scale" style="margin-left: 11rem;width: 100%;margin-top: 1rem;flex-wrap: wrap">
                <div class="column is-7" >
                    <div>
                        <h2 class="title is-4 h-spec"  style="width: 93%">Maisons&appartements connexes</h2>
                    </div>
                </div>
                <div class="column is-5" >
                    
                </div>
            </div>
        {% endif %}
         
</section>
        <div class="columns scale" style="flex-wrap: wrap;margin-left: 11rem;margin-right: 11rem">
            {% for annexe in annexes %}
            <div class="column is-4">
                <a href="{{path('immo', {'title': annexe.slugs, 'id': annexe.id } )}}">
               <div class="card" style="border-radius: 7px;">
               {% if annexe.image.name %}
                    <div class="card-content" style="background: url('{{ vich_uploader_asset(annexe, 'imageFile') }}') center no-repeat;background-size: cover;height: 216px;border-radius: 5px 7px 0 0;">
                        
                    </div>
                {% else %}
                     <div class="card-content" style="background: url('{{app.request.getSchemeAndHttpHost()}}/images/home.png') center no-repeat;background-size: 50%;height: 216px;border-radius: 5px 7px 0 0;">
                        
                    </div>
                {% endif %}
                    <footer class="card-footer">
                      <div class="columns" style="font-family: 'ubuntu';flex-wrap: wrap;width: 100%;margin: 0"> 
                        <div class="column is-12 annex">
                            <h4 class="title is-5" style="color: #000;text-align: left;color: #f74356;    margin-bottom: 0;"> {{annexe.title}} 
                                                    </h4>
                        </div>
                        
                       <div class="column is-6 annex" style="text-align: left;">
                                <i class="fas fa-building" style="font-size: 12px;color: #f74356;"></i>
                                <span style="font-family: ubuntu;"> {{annexe.category.label}} </span>
                            
                       </div>
                       
                            <div class="column is-6 annex">
                               <i class="fas fa-phone-volume" style="color: #f74356;"></i> {{annexe.numero}}
                            </div>
                             <div class="column is-6 annex">
                               <i class="fas fa-coins" style="color: #f74356;"></i> {{annexe.prix}}
                            </div>
                            {% for type in annexe.types %}
                            <div class="column is-6 annex" style="padding-bottom: 11px;">
                               <i class="fas fa-hand-holding-usd" style="color: #f74356;"></i> {{type.types}}
                            </div>
                            {% endfor %}
                            
                            
                      </div>  
                    </footer>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
{% endblock %}