{# templates/base.html.twig #}
<!DOCTYPE html>
<html ng-app="myapp">
     <head>
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T6KR7GL');</script>
<!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154630076-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154630076-1');
</script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/jquery-3.3.1.min.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/picker.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/pickerdate.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/legacy.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/jQuery.tagify.min.js"></script>
        <link href="{{app.request.getSchemeAndHttpHost()}}/css/tagify.css" rel="stylesheet">
        <link href="{{app.request.getSchemeAndHttpHost()}}/css/main.css" rel="stylesheet">
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/jquery.tinycarousel.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel='stylesheet' href="css/mystyle.css"/>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/select2.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/angular.js"></script>
        <script src="{{app.request.getSchemeAndHttpHost()}}/js/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}/js/lightgallery.js"></script>
        <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost()}}/css/lightgallery.css">
        <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}/js/lg-thumbnail.js"></script>
        <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}/js/lg-fullscreen.js"></script>
        <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}/js/main.js"></script>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>{% block title %}KAZIMO{% endblock %}</title>
        <style>
           .footer .title, .footer p,  .footer span, .footer i {
            color: #fff; 
          }
          .list-items {
            display: flgridex
          }
          .list-items i {
            font-size: 15px;
            margin-right: 7px;
          }
        </style>
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6KR7GL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- navBar -->
     <script data-ad-client="ca-pub-3903515149085859" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="" href="{{ path('home') }}">
      <img src="{{app.request.getSchemeAndHttpHost()}}/images/home.png" style="width: 50px;height: 50px">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ path('home') }}" class="navbar-item">
        Accueil
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Type de Maison
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{path('location', {'type':'En vente'})}}">
            A vendre
          </a>
          <a class="navbar-item" href="{{path('location', {'type':'location'})}}">
            A louer
          </a>
           <a class="navbar-item" href="{{path('location', {'type':'colocation'})}}">
            En colocation
          </a>
        </div>
      </div>
      <a class="navbar-item">
        Publications
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{path('publish') }}" class="button is-primary">
            <strong>Publier une annonce</strong>
          </a>
          <a class="button is-light" href="{{path('app_login')}}">
            Se connecter
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
        <!-- ... -->

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
          <div class="footer">
              <div class="columns" style="background: silver;padding: 8px;">
                  <div class="column is-12">
                    <div style="display: flex">
                      <img src="{{app.request.getSchemeAndHttpHost()}}/images/home.png" width="50px" height="50px">
                      <span style="color: #fff;line-height: 50px;"> by Mitashi Otha {{ "now"|date("Y") }} &copy </span>
                    </div>
                  </div>
              </div>
          </div>
          <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}/js/app.js"></script>
        {% endblock %}
    </body>
    
</html>